.header {
  background: $blue;
  &__tymy {
    padding: 32px;
    display: flex;
  }
  &__zapasy {
    padding: 32px;
    display: flex;
  }
  &__col {
    padding: 0 32px;
    ul {
      li {
        margin-bottom: 4px;
        display: flex;
        align-items: center;
        &:hover {
          a {
            text-decoration: underline;
          }
        }
        span {
          color: $blue;
          margin-right: 8px;
          width: 30px;
          display: block;
        }
      }
    }
    table td.num,
    table td.team {
      text-align: left;
    }
    table td.num {
      padding-left: 8px;
      padding-right: 6px;
    }
    table td:last-child {
      padding-right: 8px;
    }
    table {
      margin-bottom: 8px;
      th {
        font-weight: 700;
      }
      td {
        text-align: center;
      }
      th,
      td {
        padding: 2px 8px 3px;
        font-size: 1rem;
      }
    }
    .date {
      color: $blue;
      font-size: 1rem;
    }
    h5 {
      text-transform: uppercase;
      margin-bottom: 8px;
    }
    &-link {
      display: block;
      text-decoration: underline;
      text-align: center;
      margin-top: 16px;
    }

    h4 {
      display: block;
      color: $dark-blue;
      margin-bottom: 16px;
    }
  }
  &__news {
    display: flex;
    &-img {
      max-width: 33.333%;
      flex: 0 0 33.333%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &-box {
      padding: 32px;
      h4 {
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      span {
        margin-bottom: 16px;
        display: block;
        font-size: 0.875rem;
      }
      a {
        text-decoration: underline;
        display: inline-block;
      }
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
  }
  &__trophy {
    width: 65px;
    height: 24px;
    transition: all 0.4s;
    &:hover {
      transform: scale(1.2);
    }
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
}
.header__logo--mob,
.header__logo {
  width: 139px;
  height: 104px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 13px;
  right: 0;
  z-index: 999;
  top: -32px;
  transition: all 0.4s;
  &:hover {
    transform: scale(1.1);
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.header__logo-mob {
  display: none;
}
.menu {
  max-width: 50%;
  flex: 0 0 50%;
  &--left {
    padding-right: 110px;
  }
  &--right {
    padding-left: 110px;
  }
}

.navigation {
  display: flex;
  position: relative;
}
.navbar.nav {
  display: flex;
}
.nav {
  .nav__list + .nav__list {
    margin-left: 24px;
  }
}
.nav__list {
  position: relative;
  cursor: pointer;
  &:hover {
    .header__menu-dropdown {
      max-height: 600px;
      display: flex;
      z-index: 28;
      transition: ease 0.5s;
    }
  }
}
.nav__link {
  color: #fff;
  padding: 16px 0 15px 0;
  font-weight: 700;
  text-transform: uppercase;
}
//// media

/// dropdown

.header__menu-dropdown {
  z-index: 2;
  background-color: #fff;
  border-top: 1px solid $blue;
  position: relative;
  box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  border-radius: 0 0 4px 4px;
  max-height: 0;
  width: max-content;
  overflow: hidden;
  border: none;
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  text-transform: none;
  max-width: 1030px;
}
#noviny .header__menu-dropdown {
  left: -150px;
}
#zapasy .header__menu-dropdown {
  left: -200px;
}
#tymy .header__menu-dropdown {
  left: -250px;
}

.catalog-podmenu {
  border-right: 1px solid $blue;
  background: $blue;

  .menu-list:first-child {
    margin-top: 12px;
  }
  .menu-list:last-child {
    margin-bottom: 8px;
  }
  li {
    padding: 8px 10px;
    margin: 0 20px;
    width: max-content;
    color: #fff;
    min-width: 200px;
    &:hover {
      color: #fff;
      background-color: $dark-blue;
      border-radius: 4px;
      a {
        color: #fff;
      }
    }
  }
}

.header__logo--mob {
  display: none;
}
.mobil-wrap {
  max-width: 1920px;
  padding: 0 80px;
  margin: 0 auto;
}

@media (max-width: 1366px) {
  #zapasy .header__zapasy {
    padding: 32px 0px;
  }
}
@media (max-width: 1240px) {
  #tymy .header__menu-dropdown {
    left: -300px;
  }
  #zapasy .header__menu-dropdown {
    left: -195px;
  }
  .header__news-box {
    padding: 32px 16px;
  }
  .mobil-wrap {
    padding: 0 15px;
  }
}
@media (max-width: 1100px) {
  #tymy .header__menu-dropdown,
  #zapasy .header__menu-dropdown,
  #noviny .header__menu-dropdown {
    left: 0;
  }
  .header__tymy,
  .header__zapasy,
  .header__news {
    display: none;
  }
}
@media (max-width: 940px) {
  .mobil-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 6px 0;
  }
  .header__logo {
    display: none;
  }
  .header__logo--mob {
    left: 10px;
    margin: 0;
    width: 88px;
    height: 65px;
    top: 45px;
    display: block;
  }
  /// burger
  .mob-menu {
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  .mob-menu__btn {
    width: 30px;
    height: 4px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
    transition: all 0.5s ease-in-out;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 30px;
      height: 4px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(255, 103, 47, 0.2);
      transition: all 0.5s ease-in-out;
    }
    &::before {
      transform: translateY(-10px);
    }
    &::after {
      transform: translateY(10px);
    }
  }

  // animation media btn
  .mob-menu.open .mob-menu__btn {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
    &::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
    &::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
  .header__inner {
    display: none;
    position: absolute;
    top: 100%;
    right: 0px;
    z-index: 9999;
    top: 116px;
    width: 100%;
    margin-left: auto;
    justify-content: flex-end;
    padding: 15px 24px;
    background-color: $blue;
    max-width: 380px;
  }
  .navbar.nav {
    flex-direction: column;
  }
  .nav .nav__list + .nav__list {
    margin-left: 0;
  }
  .menu--left {
    padding-right: 0;
  }
  .menu--right {
    padding-left: 0;
  }
  .menu {
    max-width: 100%;
    flex: 100%;
  }
  .navigation {
    display: block;
  }
  .header .social {
    padding-left: 0;
    justify-content: center;
  }
  .header__trophy {
    display: block;
    margin: 0 auto;
  }
  .nav__list:hover .header__menu-dropdown {
    height: 0;
    position: static;
    transition: all 0s;
    display: none;
  }
  .nav__list.active {
    .nav__link {
      border-bottom: 1px solid #fff;
    }
    .header__menu-dropdown {
      width: 100%;
      height: 100%;
      display: block;
      position: static;
      background: $blue;
      box-shadow: none;
      .catalog-podmenu {
        width: 100%;
        li {
          width: 100%;
        }
      }
    }
  }
  .menu-list__link {
    color: #fff;
  }
}
